<!--
    Place this file under /Library/LaunchAgents/ on macOS to setup a cron job.

    First, copy "cron.sh" somewhere and modify the path below to point to it.

    Next, make sure you have the .plist permissions setup as follows:

    sudo chown root:wheel /Library/LaunchAgents/jadawil.plist
    sudo chmod 644 /Library/LaunchAgents/jadawil.plist

    Finally, load it:

    sudo launchctl load /Library/LaunchAgents/jadawil.plist

    By default, this script will run every Sunday at midnight.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>me.assil.jadawil</string>
  <key>Program</key>
  <string>/Users/aksiksi/Projects/Python/jadawil/cron.sh</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>

    <key>Minute</key>
    <integer>0</integer>

    <key>Weekday</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/jadawil.stdout</string>
  <key>StandardErrorPath</key>
  <string>/tmp/jadawil.stderr</string>
</dict>
</plist>
