<!--
    Place this file under /Library/LaunchAgents/ on macOS to setup a cron job

    Make sure you have the permissions setup as follows:

    sudo chown root:wheel /Library/LaunchAgents/jadawil.plist
    sudo chmod 644 /Library/LaunchAgents/jadawil.plist

    Then load it:

    sudo launchctl load /Library/LaunchAgents/jadawil.plist
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>me.assil.jadawil</string>
  <key>ProgramArguments</key>
  <array>
    <string>bash</string>
    <string>-c</string>
    <string>source /Users/aksiksi/.virtualenvs/main2/bin/activate; python /Users/aksiksi/Projects/Python/jadawil/updatepickle.py</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>

    <key>Minute</key>
    <integer>0</integer>

    <key>Weekday</key>
    <integer>6</integer>
  </dict>
</dict>
</plist>
