<!DOCTYPE html>
<html lan="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Jadawil</a>
                    <ul class="nav">
                        {% block nav %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    {% block content %}{% endblock %}
    {% block ad %}{% endblock %}
    <div class="well">
        <p>Created by <a href="http://twitter.com/Cyph0n/">@Cyph0n</a></p>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10149989-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
        <a title="Web Statistics" href="http://clicky.com/100569448"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init(100569448); }catch(e){}</script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100569448ns.gif" /></p></noscript>
    </body>
</html>