<!DOCTYPE html>
<html lan="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
        <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P8LN52KGKD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-P8LN52KGKD');
        </script>
        <style>
            p {
                font-size: 1.3em;
                padding-bottom: 5px;
            }

            input[type=text] {
                font-size: 1.2em;
                height: 1.5em;
            }

            ol>li {
                font-size: 1.3em;
                padding-bottom: 0.5em;
            }

			.clusters {
				height: 0px;
				overflow: hidden;
			}
			.majors {
				height: 0px;
				overflow: hidden;
			}
        </style>
    </head>
    <body style="background-color: #4B6B96;">
        <!-- Navbar -->
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container" style="height: 3em;">
                        <a class="brand" style="font-size: 2em;"><strong>Jadawil</strong></a>
                        <ul class="nav" style="font-size: 1.5em">
                            {% block nav %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}

            <div class="well">
                <p align="center" style="padding-bottom: 0px;">Created by <a href="http://assil.me">Assil Ksiksi</a>, a proud alumnus of Electrical Engineering @ <a href="http://uaeu.ac.ae/">UAEU</a>.</p>
            </div>
        </div>
    </body>
</html>
