{% extends "base.html" %}

{% block title %}Jadawil{% endblock %}

{% block nav %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/getstarted">Get Started</a></li>
<li><a href="/about">About</a></li>
<li><a href="https://www.facebook.com/jadawil.ae" style="color: #1B9294; text-decoration: underline;">Jadawil on Facebook</a></li>
{% endblock %}

{% block content %}
    <div class="well">
        <form action="/submit" method="POST">
            <p><strong>Semester</strong></p>
            <select name="term">
                <option value="201820">Spring 2018</option>
                <option value="201810">Fall 2017</option>
                <option value="201720">Spring 2017</option>
                <option value="201710">Fall 2016</option>
                <option value="201620">Spring 2016</option>
                <option value="201610">Fall 2015</option>
                <option value="201520">Spring 2015</option>
                <option value="201510">Fall 2014</option>
            </select>
            <p><strong>Gender</strong></p>
            <select name="gender">
                <option value="B">Male</option>
                <option value="G">Female</option>
            </select>
            <p><strong>Courses</strong></p>
                <input type="text" name="1" placeholder="Example: MECH 390"/>
                <input type="text" name="2" />
                <input type="text" name="3" />
                <input type="text" name="4" />
                <br />
                <input type="text" name="5" />
                <input type="text" name="6" />
                <input type="text" name="7" />
                <input type="text" name="8" />
            <p><strong>Constant CRNs</strong></p>
                <input type="text" name="9" placeholder="Example: 27010"/>
                <input type="text" name="10" />
                <input type="text" name="11" />
                <input type="text" name="12" />
                <br />
                <input type="text" name="13" />
                <input type="text" name="14" />
                <input type="text" name="15" />
                <input type="text" name="16" />

                <p align="center" style="margin-top: 15px;"><button type="btn-submit" style="font-size: 1.3em; height: 1.7em; width: 5em;" class="btn">Submit</button></p>
        </form>

		<hr>
		<h2>Find a General Education Course</h2>
		<form action="/submit_GE" method="POST">
			<p><strong>Semester</strong></p>
            <select name="term">
                <option value="201820">Spring 2018</option>
                <option value="201710">Fall 2016</option>
                <option value="201620">Spring 2016</option>
                <option value="201610">Fall 2015</option>
                <option value="201520">Spring 2015</option>
                <option value="201510">Fall 2014</option>
            </select>
			<p><strong>Gender</strong></p>
				<select name="gender">
					<option value="B">Male</option>
					<option value="G">Female</option>
				</select>
			<p><strong>College</strong></p>
				<select name="college" id="college" onchange="show_majors()">
					<!-- <option value="-">-</option> -->
					<option value="COE">College of Engineering</option>
					<option value="CBE">College of Business and Economics</option>
					<option value="CS">College of Science</option>
					<option value="CHSS">College of Humanities and Social Sciences</option>
					<option value="CIT">College of Information Technology</option>
					<option value="CEDU">College of Education</option>
					<option value="CL">College of Law</option>
					<option value="CFA">College of Food and Agriculture</option>
				</select>
			<div id="COE_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="COE_major" id="COE_major" onchange="show_clusters()">
						<option value="OTHER">-</option>
					</select>
			</div>
			<div id="CBE_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CBE_major" id="CBE_major" onchange="show_clusters()">
						<option value="OTHER">-</option>
					</select>
			</div>
			<div id="CL_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CL_major" id="CL_major" onchange="show_clusters()">
						<option value="OTHER">-</option>
					</select>
			</div>
			<div id="CIT_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CIT_major" id="CIT_major" onchange="show_clusters()">
						<option value="OTHER">-</option>
					</select>
			</div>
			<div id="CS_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CS_major" id="CS_major" onchange="show_clusters()">
						<option value="BIO">Biology</option>
						<option value="MATH">Mathematics</option>
						<option value="OTHER">All other science majors</option>
					</select>
			</div>
			<div id="CFA_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CFA_major" id="CFA_major" onchange="show_clusters()">
						<option value="AGRIBUS">Agribusiness</option>
						<option value="OTHER">All other majors</option>
					</select>
			</div>
			<div id="CEDU_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CEDU_major" id="CEDU_major" onchange="show_clusters()">
						<option value="ART">Art Education</option>
						<option value="HEALTH">Health & Physical Education</option>
						<option value="SPECHI">Special Edu./ Early Childhood Edu.</option>
						<option value="ELE">Elementary Education</option>
					</select>
			</div>
			<div id="CHSS_MAJORS" class="majors">
				<p><strong>Major</strong></p>
					<select name="CHSS_major" id="CHSS_major" onchange="show_clusters()">
						<option value="ARBLIT">Arabic Language & Literature</option>
						<option value="ENGLIT">English Literature</option>
						<option value="GEO">Geography</option>
						<option value="TOU">Tourism Studies</option>
						<option value="HIS">History</option>
						<option value="LNG">Linguistics</option>
						<option value="APPLNG">Applied Linguistics (TESOL)</option>
						<option value="MC">Mass Communication</option>
						<option value="PHI">Philosophy</option>
						<option value="POL">Political Science</option>
						<option value="PSY">Psychology</option>
						<option value="SW">Social Work</option>
						<option value="SOC">Sociology</option>
						<option value="TRN">Translation Studies</option>
					</select>
			</div>

			<div id="COE_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="COE_OTHER_cluster" value="cluster1">Learning and Thinking Skills Area</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="COE_OTHER_cluster" value="cluster2">Humanities/Fine Arts Area</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="COE_OTHER_cluster" value="cluster3">The Global Experience Area</label>
					</div>
			</div>
			<div id="CIT_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CIT_OTHER_cluster" value="cluster1">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CIT_OTHER_cluster" value="cluster2">Social and Behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CIT_OTHER_cluster" value="cluster3">The Global Experience</label>
					</div>
			</div>
			<div id="CL_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CL_OTHER_cluster" value="cluster1">Skills for Life - Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CL_OTHER_cluster" value="cluster2">The Natural World - Mathematics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CL_OTHER_cluster" value="cluster3">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CS_MATH_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_MATH_cluster" value="cluster1">Values to Live By - Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_MATH_cluster" value="cluster2">Skills for Life - Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_MATH_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_MATH_cluster" value="cluster4">The Global Experience</label>
					</div>
			</div>
			<div id="CS_BIO_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_BIO_cluster" value="cluster1">Values to Live By - Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_BIO_cluster" value="cluster2">Skills for Life - Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_BIO_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_BIO_cluster" value="cluster4">Social and Behavioural Sciences</label>
					</div>
			</div>
			<div id="CS_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_OTHER_cluster" value="cluster1">Values to Live By - Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_OTHER_cluster" value="cluster2">Skills for Life - Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_OTHER_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_OTHER_cluster" value="cluster4">Social and Behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CS_OTHER_cluster" value="cluster5">The Global Experience</label>
					</div>
			</div>
			<div id="CBE_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CBE_OTHER_cluster" value="cluster1">Skills for Life - Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CBE_OTHER_cluster" value="cluster2">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CBE_OTHER_cluster" value="cluster3">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CBE_OTHER_cluster" value="cluster4">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CFA_OTHER_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_OTHER_cluster" value="cluster1">Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_OTHER_cluster" value="cluster2">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_OTHER_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_OTHER_cluster" value="cluster4">Social and behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_OTHER_cluster" value="cluster5">The Global Experience</label>
					</div>
			</div>
			<div id="CFA_AGRIBUS_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_AGRIBUS_cluster" value="cluster1">Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_AGRIBUS_cluster" value="cluster2">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CFA_AGRIBUS_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
			</div>
			<div id="CEDU_ART_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ART_cluster" value="cluster1">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ART_cluster" value="cluster2">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ART_cluster" value="cluster3">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ART_cluster" value="cluster4">The Natural World - Mathematics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ART_cluster" value="cluster5">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CEDU_HEALTH_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_HEALTH_cluster" value="cluster1">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_HEALTH_cluster" value="cluster2">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_HEALTH_cluster" value="cluster3">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CEDU_SPECHI_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_SPECHI_cluster" value="cluster1">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_SPECHI_cluster" value="cluster2">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_SPECHI_cluster" value="cluster3">The Natural World - Mathematics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_SPECHI_cluster" value="cluster4">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CEDU_ELE_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ELE_cluster" value="cluster1">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ELE_cluster" value="cluster2">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ELE_cluster" value="cluster3">The Natural World - Mathematics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CEDU_ELE_cluster" value="cluster4">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CHSS_1_clusters" class="clusters">
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster1">Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster2">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster4">Social and Behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster5">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_1_cluster" value="cluster6">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CHSS_2_clusters" class="clusters"> <!-- clusters for geography, political science, history, and sociology majors -->
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_2_cluster" value="cluster1">Ethics</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_2_cluster" value="cluster2">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_2_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_2_cluster" value="cluster4">Social and Behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_2_cluster" value="cluster6">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<div id="CHSS_3_clusters" class="clusters"> <!-- clusters for mass comm and philosophy -->
				<p><strong>GE Cluster</strong></p>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_3_cluster" value="cluster2">Thinking Skills</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_3_cluster" value="cluster3">Humanities/Fine Arts</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_3_cluster" value="cluster4">Social and Behavioural Sciences</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_3_cluster" value="cluster5">The Global Experience</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" name="CHSS_3_cluster" value="cluster6">The Natural World - Natural Sciences</label>
					</div>
			</div>
			<p><strong>Time Range</strong></p>
							<select name="start-time">
								<option value="1">1:00</option>
								<option value="2">2:00</option>
								<option value="3">3:00</option>
								<option value="4">4:00</option>
								<option value="5">5:00</option>
								<option value="6">6:00</option>
								<option value="7">7:00</option>
								<option value="8" selected="selected">8:00</option>
								<option value="9">9:00</option>
								<option value="10">10:00</option>
								<option value="11">11:00</option>
								<option value="12">12:00</option>
							</select>
							<select name="start-am-pm" style="width: 70px">
								<option value="am">AM</option>
								<option value="pm">PM</option>
							</select>
							<span style="margin:0 15px;">to</span>
							<select name="end-time">
								<option value="1">1:00</option>
								<option value="2">2:00</option>
								<option value="3">3:00</option>
								<option value="4">4:00</option>
								<option value="5">5:00</option>
								<option value="6">6:00</option>
								<option value="7">7:00</option>
								<option value="8">8:00</option>
								<option value="9">9:00</option>
								<option value="10" selected="selected">10:00</option>
								<option value="11">11:00</option>
								<option value="12">12:00</option>
							</select>
							<select name="end-am-pm" style="width: 70px">
								<option value="am">AM</option>
								<option value="pm">PM</option>
							</select>
            <p align="center" style="margin-top: 15px;"><button type="btn-submit" style="font-size: 1.3em; height: 1.7em; width: 5em;" class="btn">Submit</button></p>
		</form>

        <p style="font-size: 10px;">Course data last updated on <b>{{ d|date }}</b>.</p>

        <h2>Updates</h2>
        <ul>
            <li><b>[26/10/2017]</b> - Added course data for Spring 2018.</li>
            <li><b>[09/04/2017]</b> - Added course data for Fall 2017.</li>
            <li><b>[10/10/2016]</b> - Added course data for Spring 2017.</li>
            <li><b>[13/08/2016]</b> - <a href="https://www.facebook.com/Billy97">Bilal Hejase</a> implemented a new feature that makes it easier to find suitable general education courses for all majors. Try it out!</li>
            <li><b>[11/04/2016]</b> - Added course data for Fall 2016.</li>
            <li><b>[25/10/2015]</b> - Added course data for Spring 2016.</li>
            <li><b>[03/05/2015]</b> - Jadawil now checks for final exam conflicts. If there are any, they will be displayed at the top of results page.</li>
            <li><b>[26/04/2015]</b> - Added course data for Fall 2015.</li>
            <li><b>[08/11/2014]</b> - Updated course data for Spring 2015, added term selection option, made some small fixes.</li>
            <li><b>[07/05/2014]</b> - The course data has been updated for Fall 2014.</li>
            <li><b>[18/11/2013]</b> - Updated course data and added seats taken to each section in results.</li>
            <li><b>[08/11/2013]</b> - Updated course data to Spring 2014 and added section conflict finder. Direct conflicts will be displayed if no schedules are found.</li>
            <li><b>[13/09/2013]</b> - Updated the eServices course scraper to work with the new design and added an intro video.</li>
        </ul>

        <h2>Contributors</h2>

        <h4><a href="https://www.facebook.com/Billy97">Bilal Hejase</a> - EE student at UAEU</h4>
    </div>

    <div class="well">
        <h2>Discussion</h2>

        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            var disqus_config = function () {
                this.page.url = 'http://jadawil.xyz';  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = 'jadawil'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//jadawil.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

    <!-- Script to show the clusters based on college chosen -->
    <script type="text/javascript">
        function show_majors() {
            var college = document.getElementById("college");
            college = college[college.selectedIndex].value;
            var majors = document.getElementsByClassName("majors");
            for(var i = 0; i < majors.length ; i++) {
                majors[i].style.height = "0px";
            }
            if (college != "-") {
                document.getElementById(college + "_MAJORS").style.height = "auto";
            }
            show_clusters();
        }

        function show_clusters() {
            var college = document.getElementById("college");
            college = college[college.selectedIndex].value;
            var major = document.getElementById(college + "_major");
            major = major[major.selectedIndex].value;
            var clusters = document.getElementsByClassName("clusters");
            for(var i = 0; i < clusters.length ; i++) {
                clusters[i].style.height = "0px";
            }

            if (college == "CHSS") {
                if (major == "GEO" || major == "SOC" || major == "HIS" || major == "POL") {
                    document.getElementById(college + "_2_clusters").style.height = "auto";
                }
                else if (major == "MC" || major == "PHI") {
                    document.getElementById(college + "_3_clusters").style.height = "auto";
                }
                else
                    document.getElementById(college + "_1_clusters").style.height = "auto";

            } else if (college != "-") {
                document.getElementById(college + "_" + major + "_clusters").style.height = "auto";
            }
        }
        addEventListener('load', show_majors); // Update selection when page laods or user uses browser back button
    </script>
{% endblock %}
