{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="https://www.facebook.com/jadawil.ae">Jadawil on Facebook</a></li>
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>Welcome to Jadawil!</h1>
        <p>Scheduling courses has never been simpler.</p>
        <h3>Please join our <a href="https://www.facebook.com/jadawil.ae">Facebook group</a> for the latest updates! And help spread the word!</h3>
    </div>
    <div class="well">
        <h3 style="color: red;">Jadawil will probably be closed at the end of the next semester as I'm graduating. I'm currently using my own UAEU ID and password to update the data. Please help me get the word to the university to provide another way to access eServices after I graduate so I can continue to update Jadawil!</h3>

        <form action="/submit" method="POST">
            <p>Term:</p>
            <select name="term">
                <option value="201610">Fall 2015</option>
                <option value="201520">Spring 2015</option>
                <option value="201510">Fall 2014</option>
            </select>
            <p>Gender:</p>
            <select name="gender">
                <option value="B">Male</option>
                <option value="G">Female</option>
            </select>
            <p>Courses:</p>
                <input type="text" name="1" placeholder="Example: MECH 390"/>
                <input type="text" name="2" />
                <input type="text" name="3" />
                <input type="text" name="4" />
                <br />
                <input type="text" name="5" />
                <input type="text" name="6" />
                <input type="text" name="7" />
                <input type="text" name="8" />
            <p>Constant CRNs:</p>
                <input type="text" name="9" placeholder="Example: 27010"/>
                <input type="text" name="10" />
                <input type="text" name="11" />
                <input type="text" name="12" />
                <br />
                <input type="text" name="13" />
                <input type="text" name="14" />
                <input type="text" name="15" />
                <input type="text" name="16" />
                <p><button type="btn-submit" class="btn">Submit</button></p>
                <p style="font-size: 10px;">Course data last updated on <b>{{ d|date }}</b>.</p>
        </form>
    </div>

    <div class="well">
        <h2>Instructions</h2>
        <ol>
            <li>Enter the course codes of the courses you'd like to take in the next (or current) semester. A few examples of what a course code can look like: PSY 300, MATH 1120, MECH 390, ELEC 305. Uppercase or lowercase doesn't matter - just make sure that there's a space in between.</li>
            <li>Hit the submit button to get a list of upto 50 possible schedules. If the site returns less than 50 schedules, know that these are the only possible combinations.</li>
        </ol>
        <h2>Updates</h2>
        <ul>
            <li><b>[26/04/2015]</b> - Added course data for Fall 2016.</li>
            <li><b>[08/11/2014]</b> - Updated course data for Spring 2015, added term selection option, made some small fixes.</li>
            <li><b>[07/05/2014]</b> - The course data has been updated for Fall 2014.</li>
            <li><b>[18/11/2013]</b> - Updated course data and added seats taken to each section in results.</li>
            <li><b>[08/11/2013]</b> - Updated course data to Spring 2014 and added section conflict finder. Direct conflicts will be displayed if no schedules are found.</li>
            <li><b>[13/09/2013]</b> - Updated the eServices course scraper to work with the new design and added an intro video.</li>
        </ul>
        <h2>Notes</h2>
        <h3>Errors</h3>
        <p>If any course code or CRN is invalid, the scheduler will raise an error.</p>
        <p>If you get no results, one of the following has occured:</p>
        <ol>
            <li>There is a direct conflict between two courses and no alternatives are available.</li>
            <li>The scheduler did not find any valid schedules within the 10 second limit.</li>
            <li>There are too many possible schedule combinations.</li>
        </ol>
        <h3>Constant CRNs</h3>
        <p>Constant CRNs allow you to add constraints to specific courses. For example, if you want to take only sections 01 and 03 of MATH 1120 into consideration, you can add the course code as usual in the first section, and then specify which CRNs you'd like to consider in the second section.</p>
        <p>The scheduler will automatically determine which CRN belongs to which course and applies the constraint(s) to the resulting schedules.</p>
        <h3>Miscellaneous</h3>
        <p>You can access this site using either of these URLs: <a href="http://www.jadawil.co.nr/">Jadawil</a> or <a href="http://www.uaeusched.co.nr/">UAEUSched</a>.</p>
        <p>Please keep in mind that this service is still in a very early stage of development, meaning that you will encounter bugs.</p>
        <h2>About</h2>
        <iframe width="420" height="315" align="center" src="//www.youtube.com/embed/1t3_DZDKjeo" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
